:root {
  /* fonts */
  --montserrat: 'Montserrat', sans-serif;
  --yeseva: 'Raleway', sans-serif;
  /* colors */
  --white: #fff;
  --black-clr-op25: rgba(0, 0, 0, 0.25);
  --pri-clr: #293042;
  --pri-clr-op2: rgb(41, 48, 66, 0.2);
  --pri-clr-op4: rgb(41, 48, 66, 0.4);
  --pri-clr-op75: rgb(41, 48, 66, 0.75);
  --sec-clr: #42ba98;
  --sec-clr-light: #e1d8d8;
  --sec-clr-op1: rgb(66, 186, 152, 0.15);
  --sec-clr-op2: rgb(66, 186, 152, 0.2);
  --sec-clr-op3: rgb(66, 186, 152, 0.3);
  --sec-clr-op4: rgb(66, 186, 152, 0.4);
  --sec-clr-op8: rgb(66, 186, 152, 0.8);
  --grey-clr: #d9d9d9;
  --grey-clr-2: #a1a1a1;
  --grey-clr-3: #898989;
  --grey-clr-4: #ccc;
  --grey-clr-5: #eee;
  --grey-clr-6: #f4f4fb;
  --grey-clr-7: #f0f2f7;
  --grey-clr-8: #e1e4ed;
  --star-gold-clr: #e2be4b;
  --red-clr: #f55656;
  --pink-clr: #ffad9b;
  --pink-clr-op20: rgb(255, 173, 155, 0.3);
  --link-clr: #0e55ff;
  --green-clr: #126b52;
  --yellow-clr: #ffd400;
  --orange-clr: #fa541c;
  --linear-gradient: linear-gradient(
    45deg,
    rgba(66, 186, 152, 1) 0%,
    rgba(120, 176, 237, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--montserrat);
}

body {
  font-family: var(--montserrat);
  color: var(--pri-clr);
}

/* utilities */
img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: var(--pri-clr);
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 87.5%;
  max-width: 1530px;
  margin: 0 auto;
}

.container-2 {
  width: 92.5%;
  max-width: 1530px;
  margin: 0 auto;
}

.cta {
  padding: 1rem 2rem;
  background: linear-gradient(var(--pri-clr), var(--pri-clr-op75));
  color: var(--white);
  border-radius: 3rem;
  text-transform: capitalize;
  display: inline-block;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
}

.cta-bg-sec {
  background: linear-gradient(var(--sec-clr), var(--sec-clr-op8));
  color: var(--white);
}

.cta-sec {
  padding-bottom: 0.5rem;
  display: inline-block;
  font-size: 1.25rem;
  border-bottom: 1px solid var(--pri-clr);
  text-transform: capitalize;
  font-weight: 500;
}

.moveUpHeader {
  margin-top: 0px;
}

/* bg */

.bg-sec {
  background-color: var(--sec-clr);
}

.pinkBg {
  background-color: var(--sec-clr-op2);
}

.bg-sec-op8 {
  background-color: var(--sec-clr-op8);
}

/* margins */

.mb2 {
  margin-bottom: 3rem;
}

/* stars */
.stars {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.25rem;
}

.star {
  font-size: 0.9rem;
}

.filled-star {
  color: var(--star-gold-clr);
}

.blank-star {
  color: var(--grey-clr);
}

/* breadcrumb */
.breadcrumb {
  margin-bottom: 1rem;
}

.breadcrumbLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  padding: 1rem 0;
  font-size: 0.75rem;
  font-weight: 500;
}

.breadcrumbLink {
  display: inline-block;
  color: var(--grey-clr);
}

.breadcrumbLink.priClr {
  color: var(--pri-clr-op75);
}

.breadcrumbLink.priClr:last-child {
  color: var(--pri-clr);
}

.breadcrumbHomeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

/* scrollbar */

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-height: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--grey-clr);
}

/* our team section */
.ourTeam {
  padding: 4rem 0;
}

.ourTeamTitle {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--grey-clr);
  display: inline-block;
  font-family: var(--yeseva);
  text-transform: capitalize;
  margin-bottom: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.teamMembers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 1rem;
  row-gap: 2rem;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamMemberImg {
  height: 20rem;
  width: 20rem;

  border: 4px solid var(--sec-clr);
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 15px var(--black-clr-op25);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.memberTitle {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}

.memberDesc {
  font-size: 0.9rem;
  font-weight: 500;
  max-width: 30ch;
  text-align: center;
}

/* our story */

.ourStory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 4rem 0;
}

.ourStoryBg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  border-radius: 2rem;
}

.ourStoryTitle {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--pri-clr-op2);
  display: inline-block;
  font-family: var(--yeseva);
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.ourStoryDesc {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

/* our values */
.ourValues {
  padding: 6rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.ourValuesTitle {
  font-size: 2rem;
  font-family: var(--yeseva);
  text-align: center;
  display: inline-block;
  position: relative;
  padding-bottom: 1rem;
  text-transform: capitalize;
}

.ourValuesTitle::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 70%;
  height: 1px;
  background-color: var(--grey-clr);
}

.valuesBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.valuesBarTwo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.valueTitle {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.valueTitleGreen {
  color: var(--green-clr);
}

.valueTitleYellow {
  color: var(--yellow-clr);
}

.valueTitleSec {
  color: var(--sec-clr);
}

.valueDesc {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

.ourMissionMain {
  padding: 4rem 0;
  background-color: var(--sec-clr-op2);
}

.ourMission {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: flex-end;
  column-gap: 6rem;
}

.ourMissionLeft {
  background-color: var(--white);
  padding: 4rem 4rem 4rem 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
  z-index: 100;
}

.ourMissionLeft::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--white);
  position: absolute;
  left: -90%;
  top: 0%;

  z-index: -1;
}

.ourMissionTitle {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--grey-clr);
  display: inline-block;
  font-family: var(--yeseva);
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.ourMissionDesc {
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.ourMissionRight {
  background-color: var(--sec-clr);
  border-radius: 1rem;
  max-width: 420px;

  position: relative;
}

.ourMissionRight .left-btn {
  left: -10%;
}

.ourMissionRight .right-btn {
  right: -10%;
}

.ourMissionRightImg {
  margin: 1rem;
  border-radius: 0.5rem;
}
.ourMissionRightImgImg {
  border-radius: 0.5rem;
}

.ourMissionRightTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.ourMissionRightPrice {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* section header */
.greyBg {
  background: var(--black-clr-op25);
}

.sectionHeaderBg {
  margin-top: 138px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionHeader {
  height: 200px;
  position: relative;
}

.sectionHeaderTitle {
  font-size: 2rem;
  font-family: var(--yeseva);
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  color: var(--white);
}

/* courseDetails */
.details {
  margin-bottom: 4rem;
}
.courseDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  align-items: flex-start;
}

.courseDetailsVid {
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 2rem;
}

.videoCoverImg {
  border-radius: 1rem;
}

.tabsControls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--sec-clr-op1);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.tabControl {
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  flex: 1;
  text-align: center;
  transition: font-weight 0.25s ease-in-out, background-color 0.15s ease-in-out;
}

.tabControl.active {
  color: var(--sec-clr);
  background-color: var(--sec-clr-op1);

  font-weight: 700;
}

.courseDetailsVidPlayIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.courseDetailsTitle {
  font-family: var(--montserrat);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.courseDetailsReviews {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 1rem;
}

.courseDetailsReviewsDesc {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey-clr-3);
}

.courseDetailsReviewsDesc .count {
  color: var(--pri-clr-op75);
  font-weight: 600;
}

.courseDetailsDesc {
  line-height: 1.6;
  font-size: 0.9rem;
  font-weight: 500;
}

.courseDetailsDesc + .courseDetailsDesc {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.courseDescList {
  display: none;
}

.courseDescList.active {
  display: block;
  list-style: disc;
  font-size: 0.9rem;
  margin: 1rem 0 0 1.5rem;
}

.courseDescListItem {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.courseTopicsTitle {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.courseTopic {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.courseDescNote {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;

  display: inline-block;
}

.courseDescNoteText {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
}

.courseDetailsPrice {
  font-weight: 600;
  color: var(--sec-clr);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* add quantity controls */
.addQuantityControls {
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;

  border-radius: 2rem;
  font-size: 1.25rem;

  margin-bottom: 1rem;
}

.addQuantityCount {
  font-weight: 500;
  width: 2rem;
  max-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sec-clr-op1);
}

.addQuantityControl {
  transition: background-color 0.25s ease-in-out;
  outline: none;
  border: none;
  background-color: var(--sec-clr-op1);
}

.addQuantityControl:hover {
  background-color: var(--sec-clr-op3);
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.addQuantityControl.decrease {
  padding: 0.75rem 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.addQuantityControl.increase {
  padding: 0.75rem 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.courseDetailsCta .cta,
.courseDetailsCta .cta-bg-sec {
  width: 15rem;
  margin-bottom: 1rem;
}

.courseDetailsSecControls {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.courseDetailsSecControls .cta-sec {
  border-bottom: none;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.faqSectionTitle {
  font-size: 2rem;
  font-family: var(--yeseva);
  color: var(--sec-clr);
  margin-bottom: 2rem;
  text-align: center;
}

/* footer  */
footer {
  background-color: var(--sec-clr);
}

.footer {
  padding-top: 6rem;
}

.footerTop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.footerCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footerColTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.footerLink {
  font-size: 0.9rem;
  color: var(--pri-clr);
}

.footerColDesc {
  max-width: 30ch;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.footerColEmail {
  background-color: var(--white);
  width: 80%;
  max-width: 300px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerColEmailInput {
  font-family: var(--montserrat);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 2px;
}

.footerColEmailInput:focus-visible {
  outline: none;
}

.footerColEmailBtn {
  background-color: var(--white);
  border: none;
  padding: 0 1rem;
  outline: none;
  cursor: pointer;
  color: var(--grey-clr-3);
}

/* footer bottom */
.footerBottom {
  padding: 1rem 0;
  border-top: 1px solid var(--grey-clr);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paymentOptions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.paymentOption {
  background: var(--grey-clr);
  border-radius: 5px;
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentOptionImg {
  max-width: 25px;
}

.footerBottomText {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--grey-clr);
}

/* reviews section */
.reviews {
  border-top: 1px solid var(--grey-clr);
  padding: 2rem 0 6rem 0;
}

.reviewsHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.reviewsHeaderleftColTopbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}

.reviewsHeaderLeftColText {
  color: var(--grey-clr-3);
  font-size: 0.9rem;
  display: flex;
  gap: 0.25rem;
}

.reviewsHeaderLeftColText .count {
  font-weight: 600;
}

.reviewsHeaderText {
  color: var(--link-clr);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

.reviewsHeaderTextDesc {
  color: var(--link-clr);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.reviewsHeaderRightCol {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewsHeaderRightCol .cta {
  font-size: 1rem;
}

.reviewsControls {
  padding: 1rem 0 0.5rem 0;
  border-bottom: 1px solid var(--grey-clr);

  display: flex;
  justify-content: space-between;
}

.reviewsControlsLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.reviewsControlLeft {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.reviewsControlLeft.active {
  font-weight: 700;
}

.reviewsControlsRight {
  align-self: flex-end;
}

.reviewsControlsRightControl {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
}

.selectList {
  font-weight: 600;
}

.sortBySelectList {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--white);
  border: 1px solid var(--grey-clr-5);

  outline: none;
}

.userReviews {
  height: 400px;
  overflow-y: scroll;
}

.userReview {
  padding: 1rem 0;
  border-bottom: 1px solid var(--grey-clr);
}

.userReview:last-child {
  border-bottom: none;
}

.userReviewTopBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-left: 5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.userReviewInfo {
  position: relative;
}

.userReviewInfo::before {
  content: 'M';
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: -80%;
  border-radius: 50%;
  background-color: var(--sec-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
}

.userReviewName {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--sec-clr);
  margin-bottom: 0.5rem;
}

.userReviewText {
  margin-left: 5rem;
  margin-right: 1rem;
}

.userReviewTitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.userReviewDesc {
  line-height: 1.6;
  font-size: 0.9rem;
}

.reviewDate {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.alsoBoughtTitle {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.deals-course-carousel {
  margin-bottom: 4rem;

  /* position: relative; */
}

.deals-course-carousel .left-btn {
  left: -1.5%;
}

.deals-course-carousel .right-btn {
  right: -1.5%;
}

/* stepsOne */
.steps {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: flex-start;
  column-gap: 4rem;
}

.stepsOneLeft {
  min-height: 400px;
  background: url(./assets/steps1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

.stepsOneRight {
  display: flex;
  align-items: center;
  gap: 6rem;

  min-height: 400px;
}

.stepsRightTabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.stepsRightTab {
  width: 4rem;
  height: 4rem;
  background-color: var(--white);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: relative;
  opacity: 0.75;

  transition: all 0.25s ease-in-out;
}

.stepsRightTab.active {
  border: 5px solid var(--sec-clr);
  opacity: 1;
}

.stepsOneRightTabCount {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--sec-clr);
}

.stepsRightText {
  display: none;
  opacity: 0;
  transform: translateY(100px);

  transition: all 0.25s ease-in-out;
}

.stepsRightText.active {
  opacity: 1;
  display: block;
  transform: translateY(0px);
}

.stepsRightTitle {
  font-size: 1.5rem;
  font-family: var(--yeseva);
  margin-bottom: 1rem;
}

.stepsRightDesc {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.stepsTwo .stepsRightDesc {
  font-size: 1.25rem;
}

.stepsOneRight .cta-sec {
  border-bottom: none;
}

/* steps two */
.stepsTwo {
  align-items: stretch;
  column-gap: 4rem;
}

.stepsTwoLeft {
  background: url(./assets/steps2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.stepsTwoRightTitle {
  font-size: 2rem;
  font-family: var(--yeseva);
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  position: relative;
  text-align: center;
}

.stepsTwoRightTitle::before {
  content: '';
  height: 1px;
  width: 25%;
  background-color: var(--grey-clr);
  position: absolute;
  bottom: 0%;
  left: 20%;
}

.stepsTwoRightSteps {
  display: flex;
  align-items: center;
  gap: 6rem;
  padding-bottom: 4rem;
}

.stepsTwoRightTabImg {
  border-radius: 50%;
  width: 4rem;
  display: block;
  object-fit: cover;
}

/* course registration */
.courseRegBg {
  background: url(./assets/universityCredits3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  padding: 6rem 0;
}

.courseReg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 6rem;
}

.courseRegLeft {
  position: relative;
}

.courseRegLeftBtn {
  background: var(--white);
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border-radius: 0.5rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
}

.courseRegLeftBtn .bold {
  font-weight: 600;
  font-size: 1.1rem;
}

.courseRegLeftBtn .fontHeading {
  font-family: var(--yeseva);
}

.courseRegRight {
  color: var(--white);
}

.courseRegRightTitle {
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.courseRegRightDesc {
  line-height: 1.5;
  position: relative;
}

.courseRegRightDesc + .courseRegRightDesc {
  margin-top: 2rem;
}

.courseRegRightDesc::before {
  content: url(./assets/universityCreditIcon.webp);

  position: absolute;
  left: -7.5%;
  top: 7.5%;
}

.courseRegRightDesc .bold {
  font-weight: 600;
  display: block;
}

.courseRegRightDesc .pri-text {
  color: var(--pri-clr);
  font-style: italic;
  font-size: 1rem;
  display: inline;
}

/* credit timeline */
.creditTimeline {
  padding: 4rem 0;
}

.creditTimelineTitle {
  font-size: 2rem;
  font-family: var(--yeseva);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: var(--sec-clr);
  text-align: center;
  position: relative;
}

.creditTimelineTitle::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 25%;
  height: 1px;
  transform: translateX(-50%);
  background-color: var(--grey-clr);
}

.creditTimelineDesc {
  font-style: italic;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.creditTimelineDesc.fullWidth {
  width: 100%;
  margin: 0;
}

/* timeline tables */

.timelineTables {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;

  margin-bottom: 2rem;
}

.timelineTable {
  border: 1px solid var(--grey-clr);
  border-radius: 2rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding-bottom: 2rem;
  display: grid;
  grid-template-rows: repeat(8, 50px);
  background-color: var(--white);

  transition: transform 0.1s ease-in-out;
}

.timelineTable:first-child {
  font-weight: 500;
}

.timelineTable:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.timelineTableTitle {
  font-weight: 700;
  grid-row: 1/3;
  height: 50px;
  font-weight: 900;
  font-size: 1rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  text-transform: capitalize;
}

.timelineTableTitle.secBg {
  background-color: var(--sec-clr);
}
.timelineTableTitle.priBg {
  background-color: var(--pri-clr);
}
.timelineTableTitle.yellowBg {
  background-color: var(--yellow-clr);
}

.timelineTable:nth-child(even) .timelineTableRow:nth-child(even) {
  background-color: var(--grey-clr-5);
}

.timelineTableRow {
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.timelineTableTitle.logo {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.timelineTableTitle.logo img {
  width: 12.5rem;
}

.timelineTableRow:nth-child(even) {
  background-color: var(--grey-clr);
}

.secClr {
  color: var(--sec-clr);
}

.italic {
  font-style: italic;
}

/* faq */

.faqSection {
  padding: 4rem 0;
}

.faq {
  max-width: 800px;
  margin: 0 auto;
}

.faqSectionTitle {
  font-size: 2rem;
  font-family: var(--yeseva);
  color: var(--sec-clr);
  margin-bottom: 2rem;
  text-align: center;
}

/* dropdown navbar */

.menus {
  display: flex;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
  line-height: 1.5;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: var(--grey-clr-6);
}

.dropdown {
  position: absolute;
  right: 20px;
  left: -80px;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 20rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: var(--white);
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.detailsSectionHeader {
  margin-top: 138px;
}

.moveUpSectionHeader {
  margin-top: 78px;
}

.stopScrolling {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.body.stopScrolling html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#signinDiv {
  width: 100%;
  border-radius: 5rem;
  outline: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.ucspan {
  border: 1px solid var(--pri-clr);
  padding: 0.25rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border-radius: 2px;
  display: inline-block;

  transform: translateY(-7.5px);
}

.whiteClr {
  color: var(--white);
}
